header {
    background-color: #d9c4b3;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #7f5d53;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header a {
    text-decoration: none;
    color: inherit;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}

    #logo {
        margin-top: 0;
        margin-left: 15%;
    }

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    background-color: #d9c4b3;
}

.active {
    border-bottom: 1px solid #7f5d53;
}

nav {
    position: relative;
    background-color: #d9c4b3;
    width: 100%;
    left: 20%;
    padding: 0;
    display: block;
    top: 1px;
}

#nav-toggle:checked ~ nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#menu {
    display: flex;
    background-color: #d9c4b3;
}

#menu > li {
    padding-left: 1rem;
    padding-right: 380px;
}

.nav-toggle-label {
    display: none;
}

body {
    display: block;
    margin: 0px;
    background-color: #d9c4b3;
}

#hero {
    height: 750px;
    width: 100%;
    background: url(../images/hero.png) no-repeat center center/cover;
    position: relative;
}

#cover-text {
    font-size: 120%;
    position: absolute;
    bottom: 30px;
    width: 40%;
    min-height: 240px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
}

#cover-text>h2,
#cover-text>h3 {
    color: #3a3a3a;
}

#social {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #d9c4b3;
}

#social i {
    font-size: 140%;
    color: #3a3a3a;
    padding-top: 15px;
    padding-left: 5px;
}

#social p {
    color: #3a3a3a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

