html {
    scroll-behavior: smooth;
  }

header {
    background-color: #d9c4b3;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #7f5d53;
    padding: 0 1rem;
    display: block;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
    font-family: 'Open Sans', sans-serif;
}

header a img {
    height: 5vh;
    padding: 10px 0;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    background-color: #d9c4b3;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-direction: column;
}

#menu>li {
    margin-bottom: 1em;
}


.active {
    border-bottom: 1px solid #7f5d53;
}

nav {
    background-color: #d9c4b3;
    display: none;
    flex-grow: 1;
    position: absolute;
    width: 100%;
    left: 0;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    float: right;
    margin-right: 2rem;
    line-height: 2.5;
}

body {
    display: block;
    margin: 0px;
    background-color: #d9c4b3;
}

#hero {
    height: 750px;
    width: 100%;
    background: url(../images/hero.png) no-repeat center center/cover;
    position: relative;
}

#cover-text {
    font-size: 120%;
    position: absolute;
    bottom: 30px;
    width: 40%;
    min-height: 240px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
}

#cover-text>h2,
#cover-text>h3 {
    color: #3a3a3a;
}

    #meditainer {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }

    #meditainer > div {
        margin: 1em;
        font-family: 'Open Sans', sans-serif;
        width: 33%;
    }

    #meditainer > h2 {
        margin: 0;
        text-align: center;
        
    }

    #meditainer > p {
        margin: 10px 0;
        width: 600px;
        height: 300px;
    }

#social {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    background-color: #d9c4b3;
}

#social i {
    font-size: 140%;
    color: #7f5d53;
    padding-top: 15px;
    padding-left: 5px;
}

#social li {
    color: #7f5d53;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

@media screen and (min-width: 850px) {
    #meditainer {
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    #menu {
        font-size: 110%;
        letter-spacing: 2px;
        list-style-type: none;
        background-color: #d9c4b3;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    #menu li {
        margin: 0;
    }

    nav {
        display: block;
    }

    .nav-toggle-label {
        display: none;
    }

    header a img {
        height: 6vh;
        display: block;
        margin: 0 auto;
    }
}
